{{#partial "title" }}
        Check out my travel photos! <!-- I've changed!-->
{{/partial}}
{{#partial "content"}}
<h1>Favorite Animals Photos</h1>
<ul>
    <li><img src='/images/pic-one.jpg' alt=''/></li>
    <li><img src='/images/pic-two.jpg' alt=''/></li>
    <li><img src='/images/pic-three.jpg' alt=''/></li>
</ul>
{{/partial}}

{{> layout.hbs}}
