{{#partial "title" }}
        Join Twitter Now
        {{/partial}}

        <!--form.hbs.-->
        {{#partial "content"}}
        {{#if res}}
<div class="alert alert-success">
    <strong>Info:</strong> {{res}}
</div>
        {{/if}}

<h1>Fill in the form!</h1>
<form method='post' action='/signup'>
<div class="form-group">
    <label>First Name</label>
    <input name="firstname" class="form-control" type="text" required>
    <label>Last Name</label>
    <input name="lastname" class="form-control" type="text" required>
    <label>Email</label>
    <input name="email" class="form-control" type="email" required>
    <label>Password</label>
    <input name="pwd" class="form-control" type="password" required>
</div>

<button type="submit" class="btn btn-primary">Sign up</button>
</form>
        {{#if error}}
<div class="alert alert-danger">
<strong>Error:</strong> {{error}}
</div>
        {{/if}}
        {{/partial}}

        {{> layout.hbs}}